$phone-width-max:480px;

$tablet-width-max:800px;

$desktop-width-max:1120px;


@mixin phone{
  @media only screen and(max-width: $phone-width-max){
    @content;
  }
}

@mixin tablet{
  @media only screen and (max-width: $tablet-width-max){
    @content;
  }
}

@mixin desktop{
  @media only screen and (max-width: $desktop-width-max){
    @content;
  }
}
