//$yellow : #FFE347;
$max-width:1200px;
$yellow : #ffd800;
$light-yellow : #ffe347;
$black: rgba(0,0,0,0.8);
$white: #fff;
$light-white: rgba(255,255,255,0.7);
$transparent: rgba(0,0,0,0);
$default-font : 'Roboto', sans-serif;
$deep-blue: #191b28;
$desktop-small : 1000px;
$tablet: 768px;
$phone : 480px;
$trans-time : 0.5s;
$services-background:#191b28;
