@import 'import';

*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size:20px;
  //font-family: 'Roboto Condensed', sans-serif;
  font-family: $default-font;
  text-rendering: optimizeLegibility;
}

.full-width{
      @include phone{
          width:100%;
      }
}
body{
  background-color: #e8e9ea;
    //max-width: 1900px;
    @media only screen and (min-width:1900px){
        margin: auto;
    }
}

.light-font{
  font-weight: 100;
}

.bold-font{
  font-weight:500;
}

/*PRELOAD*/
.preload{
    position:fixed;
    z-index:100;
    width:100%;
    height:100vh;
    background-color: $deep-blue;
}

/*HEADER*/
header{
    width:100%;
    height: 120px;
    -webkit-transition: $trans-time linear all;
    transition: $trans-time linear all;
    position: fixed;
    z-index:10 !important;
    background-color: $transparent;
    border-top:solid 8px $yellow;
    padding-top:50px;


    @include tablet{
        height:60px !important;
        background-color: $black !important;
        padding-top: 5px !important;
    }

    #logo{
        width:200px;
        float: left;
        margin-top: 10px;
        @include tablet{
            margin-top: 0px;
        }
        a{
            font-size: 180%;
            font-weight: 500;
            -webkit-transition: font-size $trans-time;
            transition: font-size $trans-time;
            color:$white;
            @include desktop{
              font-size: 150%;
            }
            &:visited , &:link , &:hover{
                text-decoration:none;
            }
            span{
                font-size: 50%;
                background-color:$yellow;
                border-radius: 2px;
                color:$black;
                padding:2px 10px;
            }
        }
    }

    #menu-icon{
      display:none;
      position: relative;
      top:-10px;

      width:60px;
      height:60px;

      &:hover{
          cursor:pointer;
      }

      @include tablet{
        display:block;


        .ham{
            width:30px;
            height:4px;
            background-color: white;
            margin: auto;
            position: absolute;
            top:27px;
            left:10px;

            &::before,&::after{
                content: '';
                position: absolute;
                width:30px;
                height: 4px;
                background-color: white;
            }

            &::before{
                bottom:10px;

            }
            &::after{
                top:10px;

            }
        }

        .cross{
              background-color: $transparent;
              &::before {
                  animation-name: before;
                  animation-duration: $trans-time+0.5;
                  transform: translate(0px,10px) rotate(45deg);
              }
              &::after{
                animation-name: after;
                animation-duration: $trans-time+0.5;
                transform: translate(0px,-10px) rotate(-45deg);
              }
              @keyframes before{
                  0%{ transform: translate(0px,0px);}
                  25%{transform: translate(0px,10px) rotate(0deg);}
                  100%{transform: translate(0px,10px) rotate(45deg);}
              }
              @keyframes after{
                  0%{ transform: translate(0px,0px);}
                  25%{transform: translate(0px,-10px) rotate(0deg);}
                  100%{transform: translate(0px,-10px) rotate(-45deg);}
              }
        }

        /*.uncross{

              &::before {
                  animation-name: before;
                  animation-duration: $trans-time+0.5;
                  transform: translate(0px,0px) rotate(0deg);
              }
              &::after{
                animation-name: after;
                animation-duration: $trans-time+0.5;
                transform: translate(0px,0px) rotate(0deg);
              }
              @keyframes before{
                  0%{ transform: translate(0px,10px);}
                  25%{transform: translate(0px,0px) rotate(45deg);}
                  100%{transform: translate(0px,0px) rotate(0deg);}
              }
              @keyframes after{
                  0%{ transform: translate(0px,-10px);}
                  25%{transform: translate(0px,0px) rotate(-45deg);}
                  100%{transform: translate(0px,0px) rotate(0deg);}
              }
        }*/


      }
    }
    nav{
        float:right;
        padding-top: 11px;
        @include desktop{
              padding-top: 13px;
        }
        @include tablet{
              padding-top:0px;
        }

        ul{
            list-style: none;
            margin-top:2px;
            @include tablet{
                margin-top:0px;
                width:0%;
                height:100vh;
                -webkit-transition: $trans-time linear all;
                transition: $trans-time linear all;
                background-color: $black;
                position: absolute;
                z-index:-1;
                top:52px;
                right:0px;
            }
            a{
                text-transform: uppercase;
                text-decoration: none;
                color:$white;
                text-align: center;
                &:link, &:visited{
                    color:$white;
                    text-decoration: none;
                }
                &:hover{
                    color:$yellow;
                    text-decoration: none;
                }

                li{
                    display:inline-block;
                    font-size: 85%;
                    font-weight:500;
                    padding:10px 20px;
                    -webkit-transition : background-color $trans-time;
                    transition : background-color $trans-time;
                    @include desktop{
                        padding: 10px 10px;
                        font-size: 70%;
                    }
                    @include tablet{
                        display:block;
                        padding:20px 20px;
                    }

                }
                .active{
                    background-color: $yellow;
                    color:$black;
                    border-radius: 3px;
                    //padding:10px 20px;
                    //transition: $trans-time linear all;
                    border:1px solid $yellow;

                    @include tablet{
                        border-radius: 0px;
                    }
                    /*&:hover{
                      background-color: $transparent;
                      //border:1px solid $yellow;
                      border:0px;
                      color:$yellow;
                    }*/
                }
            }

        }
        .expand{
              width:100%;
              height:100vh;
              background-color: $black;
        }
    }
}

/*MAIN SECTION*/
#main{
    background: url('img/main.png');
    background-position: center;
    background-attachment: fixed;
    min-height: 900px;
    @include desktop{
          min-height: 700px;
    }
    .container{
          div{
                padding-top:236px;
                @include tablet{
                    padding-top:150px;
                }
                min-width:300px;
                max-width: 900px;
                text-align: center;
                margin:auto;
                h1{
                      color:$white;
                      font-size:300%;
                      @include tablet{
                            font-size: 200%;
                      }
                }
          }
          form{
                min-width:300px;
                max-width: 900px;
                text-align: center;
                margin:auto;
                margin-top:80px;
                margin-bottom: 80px;
                input{
                      width:200px;
                      height:60px;
                      padding: 20px;
                      margin-right:5px;
                      //margin-left: 10px;
                      background-color: rgba(0,0,0,0);
                      border:1px solid $white;
                      color:$white;
                      border-radius: 3px;
                      font-weight: 700;
                      font-size: 90%;
                      &::-webkit-input-placeholder{
                        color: $light-white !important;
                      }
                      &:-moz-placeholder{
                        color: $light-white !important;
                      }
                      &::-moz-placeholder {  /* Firefox 19+ */
                        color: $light-white !important;
                      }

                      &:-ms-input-placeholder {
                        color: $light-white !important;
                      }
                      &:focus{
                        outline: 1px solid $yellow;
                        border:0px;
                      }

                      @include tablet{
                        width:49%;
                        margin-right: 0px;
                        margin-bottom: 5px;
                      }
                      @include phone{
                        width:100%;
                        margin-right: 0px;
                        margin-bottom: 5px;
                      }
                }
                button{
                width:180px;
                height:60px;
                margin-left: 5px;
                text-align: center;
                background-color: $yellow;
                border: 0px;
                border-radius: 5px;
                font-weight: 700;
                -webkit-transition: background-color 0.5s;
                transition: background-color 0.5s;

                &:hover{
                  background-color: rgba(0,0,0,0);
                  border: 1px solid $yellow;
                  color:$yellow;
                  cursor: pointer;
                }

                @include tablet{
                  width:50%;
                  margin-left:0px;
                  margin-top: 20px;
                }
                @include phone{
                  width:100%;
                  margin-left:0px;
                  margin-top: 0px;
                }
              }
          }
    }
}

/*SERVICES SECTION*/
#services{
  background-color: $services-background;
  padding: 60px 10px;
  .container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows : repeat(2,minmax(0,250px));
    grid-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items:center;
    @include tablet{
      grid-template-rows : repeat(2,minmax(0,300px));
      grid-template-columns: 1fr 1fr;
      //padding-bottom: 0px;
    }
    @include phone{
      display:block;
    }
    .service-desc{
      text-align: center;
      h2{
        color:$white;
        font-weight:300;
        font-size:180%;
        line-height: 1.5;
        @include desktop{
          font-size: 150%;
        }
        &:before{
            @include desktop{
                display: none;
            }
        }
      }
      p{
        color:$light-white;
        font-weight:100;
        font-size: 80%;
        line-height: 2;
      }
      img{
          display:none;
          @include desktop{
              display:block;
              margin: auto;
          }
      }
    }
    #i-phone{
      grid-column: 2/3;
      grid-row: 2/3;
      -ms-flex-item-align: end;
          align-self: flex-end;
      transition: $trans-time linear all;
      @include desktop{
        img{
          max-width: 100%;
        }
      }
      @include tablet{
        display:none;
      }
    }
    #printer-services{
      grid-column: 1/2;
      grid-row: 1/2;
      h2:before{
        position: relative;
        top: 15px;
        content: url('img/printer.png')  "\00a0 \00a0";
      }
    }
    #mobile-services{
      grid-column: 3/4;
      grid-row: 1/2;
      h2:before{
        position: relative;
        top: 15px;
        content:url('img/mobile.png') "\00a0 \00a0";
      }
      @include tablet{
        grid-column: 2/3;
      }
    }

    #it-services{
      grid-column: 1/2;
      grid-row: 2/3;
      h2:before{
        position: relative;
        top: 15px;
        content:url('img/pc.png') "\00a0 \00a0";
      }
    }
    #printer1-services{
      grid-column: 3/4;
      grid-row: 2/3;
      h2:before{
        position: relative;
        top: 15px;
        content:url('img/printer1.png') "\00a0 \00a0";
      }
      @include tablet{
        grid-column: 2/3;
      }
    }
  }
}

/*TEAM SECTION*/
#team{
    background-color: $yellow;
    #team-heading{
          text-align: center;
          padding-top:50px;
          padding-bottom: 50px;
          h1{
              font-size:280%;
              -webkit-transition:font-size $trans-time;
              transition:font-size $trans-time;
              @include phone{
                font-size: 240%;
              }
          }
          h3{
              margin-top: 10px;
              font-size:150%;
              font-weight: bolder;
          }
    }

    .team-members{
          padding-bottom: 50px;
          height:auto;
    }

        .team-desc{
          text-align: center;
          padding:15px 5px 5px 5px;
          margin-bottom: 50px;
          img{
            width:150px;
            height:150px;
            position: relative;
            opacity: 0;
            filter: alpha(opacity=0);
            right:500px;
            -webkit-transform:rotate(180deg);
                    transform:rotate(180deg);

            -webkit-transition: right ease-in $trans-time+0.2,
                        opacity ease-in $trans-time+0.2,
                        border ease-in $trans-time +(-0.3),
                        -webkit-transform ease-in $trans-time+0.2;

            transition: right ease-in $trans-time+0.2,
                        opacity ease-in $trans-time+0.2,
                        border ease-in $trans-time +(-0.3),
                        -webkit-transform ease-in $trans-time+0.2;

            transition: transform ease-in $trans-time+0.2,
                        right ease-in $trans-time+0.2,
                        opacity ease-in $trans-time+0.2,
                        border ease-in $trans-time +(-0.3);

            transition: transform ease-in $trans-time+0.2,
                        right ease-in $trans-time+0.2,
                        opacity ease-in $trans-time+0.2,
                        border ease-in $trans-time +(-0.3),
                        -webkit-transform ease-in $trans-time+0.2;

            &:hover{
                border:3px solid $light-white;
                border-radius: 50%;
                -webkit-box-shadow: 1px 10px 20px 0px $black;
                        box-shadow: 1px 10px 20px 0px $black;
            }

          }
          @include tablet{
            width:60%;
            margin: auto;
          }

          .text{
              opacity: 0;
              filter: alpha(opacity=0);
              -webkit-transition:all ease-in $trans-time+0.4;
              transition:all ease-in $trans-time+0.4;
          }

          h2{
            font-weight: bolder;
            color:$black;
            -webkit-transition: font-size $trans-time;
            transition: font-size $trans-time;
            @include desktop{
              font-size: 120%;
            }
          }
          p{
            font-weight: 100;
            font-size: 90%;
          }
        }
}

/*DOWNLOAD SECTION*/
#download{
    display:grid;
    grid-template-rows: 1fr 2fr;
    .container{
          //margin-bottom: 20px;
    }
    .text-box{
        width:50%;
        margin:0;
        padding:50px 80px 60px 0px;
        -webkit-transition: width $trans-time;
        transition: width $trans-time;
        @include desktop{
          padding:20px;
          //width:40%;
        }
        @include tablet{
          text-align: center;
        }
        h1{
            font-size:150%;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        p{
            font-size: 80%;
            font-weight: 300;
            line-height: 2;
        }
        a{
          text-decoration: none;
          color:$white;
          background-color: $deep-blue;
          font-size: 80%;
          font-weight: bold;
          padding: 20px 40px;
          border-radius: 5px;
          -webkit-transition: background-color $trans-time;
          transition: background-color $trans-time;

          &:hover{
            background-color: rgba(0,0,0,0);
            border: 1px solid $deep-blue;
            color:$deep-blue;
            cursor: pointer;
          }
        }
        #last-p{
          margin-bottom:70px;
        }
    }

    .small-section{
        background-color: $light-yellow;
        position: relative;
        .container{
            max-width: 1200px;
        }
        .macbook{
          width:60%;
          max-width: 1120px;
          position: absolute;
          right:0px;
          overflow: hidden;
          img{
            //width:100%;
          }
          @include tablet{
            display:none;
          }
        }
        .text-box{
          -webkit-transition:width $trans-time;
          transition:width $trans-time;
            @include tablet{
              width:100%;
            }
        }
    }

    .big-section{
        .container{
            max-width: 1200px;
        }
        background-color: $white;
        .text-box{
          -webkit-transition:width $trans-time;
          transition:width $trans-time;

          @include tablet{
                width:100%;
          }
        }

    }


}

/*APP WORKING SECTION*/
#work{
    background:  -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.3)),to(rgba(0,0,0,0.3))), url('img/main.png');
    background:  linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('img/main.png');
    background-attachment: fixed;
    background-size:200%;
    -webkit-transition: background-size $trans-time;
    transition: background-size $trans-time;
    @include desktop{
      background-size:cover;
    }
    background-repeat: no-repeat;
    background-position: top;
    color:$white;

    .container{
          opacity:0;
          -webkit-transition : all ease-in $trans-time;
          transition : all ease-in $trans-time;
          padding-top: 80px;
          padding-bottom: 90px;

          #work-heading{
            text-align: center;
            h1{
                font-size:280%;
                -webkit-transition:font-size $trans-time;
                transition:font-size $trans-time;
                @include phone{
                  font-size: 240%;
                }
            }
            h3{
                margin-top: 10px;
                font-size:150%;
                font-weight: bolder;
            }
          }


          .work-desc{
                text-align: center;
                padding:15px 5px 5px 5px;
                margin: 30px 0px;
                img{
                  width:110px;
                  height:100px;
                }
                @include tablet{
                  width:60%;
                  margin: auto;
                }
                h2{
                  font-weight: bolder;
                  color:$white;
                  -webkit-transition: font-size $trans-time;
                  transition: font-size $trans-time;
                  @include desktop{
                    font-size: 120%;
                  }
                }
                p{
                  font-weight: 100;
                  font-size: 90%;
                }
          }



        .button{
              width:200px;
              margin: auto;
              margin-top: 20px;
              button{
                width:200px;
                height:60px;
                color:$black;
                font-size:90%;
                background-color: $yellow;
                border: 0px;
                border-radius: 2px;
                font-weight: 700;
                -webkit-transition: background-color 0.5s;
                transition: background-color 0.5s;
                &:hover{
                  background-color: rgba(0,0,0,0);
                  border: 1px solid $yellow;
                  color:$yellow;
                  cursor: pointer;
                }
                @include tablet{
                  margin: 30px auto;
                }

              }
        }

    }
}

/* FOOTER SECTION */
footer{
  background-color: $deep-blue;
  color:$white;
  .links{
        padding-top: 100px;
        @include desktop{
              padding-top: 50px;
        }
        ul{
              list-style: none;
              li{
                    text-align: center;
                    @include desktop{
                          line-height: 1;
                    }
                    a{
                          color:$white;
                          text-decoration: none;
                          font-size: 80%;
                          &:hover{
                                color:$yellow;
                          }
                    }
              }
        }
   }

   .credits{
        text-align: center;
        padding-bottom: 150px;
        padding-top: 100px;
        @include desktop{
              padding-top: 75px;
              padding-bottom: 50px;
        }

        @include phone{
              padding-bottom: 50px;
        }
        p{
             font-size: 70%;
             font-weight: 100;
             a{
               text-decoration: none;
               color:$yellow;
               font-size: 100%;
             }
        }
   }
}
