@import 'mediaQuery';
@import 'userDefinedMixins';
@import 'preloadAnimation';
//$yellow : #FFE347;

$yellow : #ffd800;
$light-yellow : #ffe347;
$black: rgba(0,0,0,0.8);
$white: #fff;
$light-white: rgba(255,255,255,0.7);
$transparent: rgba(0,0,0,0);
$default-font : 'Roboto', sans-serif;
$deep-blue: #191b28;
$desktop-small : 1000px;
$tablet: 768px;
$phone : 480px;
$trans-time : 0.5s;
$services-background:#191b28;

*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size:20px;
  //font-family: 'Roboto Condensed', sans-serif;
  font-family: $default-font;
  text-rendering: optimizeLegibility;
}

.container{
    width:95%;
    //max-width: 1000px;
    margin:auto;
    @include tablet{
      width:90%;
    }
}

.light-font{
  font-weight: 100;
}

.bold-font{
  font-weight:500;
}

/*PRELOAD*/
.preload{
    position:fixed;
    z-index:100;
    width:100%;
    height:100vh;
    background-color: $deep-blue;
}

/*HEADER*/
header{
    width:100%;
    height: 120px;
    -webkit-transition: $trans-time linear all;
    transition: $trans-time linear all;
    position: fixed;
    z-index:10 !important;
    top:0px;
    left:0px;
    background-color: $transparent;
    border-top:solid 8px $yellow;
    padding-top:50px;
    padding-left: 100px;
    padding-right: 100px;
    @include desktop{
        padding-left:20px;
        padding-right:20px;
    }
    @include tablet{
        height:50px !important;
        background-color: $black !important;
        padding-top: 0px !important;
        border-top:0px !important;
    }


    #logo{
        font-size: 180%;
        font-weight: 500;
        -webkit-transition: font-size $trans-time;
        transition: font-size $trans-time;
        color:$white;
        @include desktop{
          font-size: 150%;
        }
        &:hover{
          text-decoration: none;
          color:$white;
        }
        &:visited , &:link{
            text-decoration:none;
        }
        span{
            font-size: 50%;
            background-color:$yellow;
            border-radius: 2px;
            color:$black;
            padding:2px 10px;
        }
    }

    #menu-icon{
      display:none;
      position: absolute;
      top:0px;
      right:0px;
      width:50px;
      height:50px;
      color:$white;
      span{
          font-size:180%;
          padding: 5px;
      }

      &:hover{
          color:$yellow;
          cursor:pointer;
      }

      @include tablet{
        display:block;

        &:hover + ul{
            right:0px;
        }

      }
    }
    nav{
        float:right;
        ul{
            list-style: none;
            margin-top:2px;
            @include tablet{
                margin-top:0px;
                width:360px;
                height:300px;
                -webkit-transition: $trans-time linear all;
                transition: $trans-time linear all;
                background-color: $black;
                position: absolute;
                z-index:-1;
                top:50px;
                right:-360px;

                &:hover{
                    right:0px;
                }
            }

            @include phone{
                width:100%;
                right:-480px;

            }
            a{
                text-transform: uppercase;
                text-decoration: none;
                color:$white;

                &:hover{
                    color:$yellow;
                    text-decoration: none;
                }

                li{
                    display:inline-block;
                    font-size: 85%;
                    font-weight:500;
                    padding:0px 20px;

                    @include desktop{
                        padding: 0px 15px;
                        font-size: 70%;
                    }
                    @include tablet{
                        display:block;
                        padding:20px 20px;
                    }

                }
                .active{
                    background-color: $yellow;
                    color:$black;
                    border-radius: 3px;
                    padding:10px 20px;
                    //transition: $trans-time linear all;
                    border:1px solid $yellow;

                    @include tablet{
                        border-radius: 0px;
                    }
                    &:hover{
                      background-color: $transparent;
                      border:1px solid $yellow;
                      color:$yellow;
                    }
                }


            }

        }
    }
}

/*MAIN SECTION*/
#main{
  //height:900px;
  background-image: url('img/main.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;

  .container{
    display:grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,150px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items:center;
    grid-gap: 2px;
    @include tablet{
      display:block;
    }
    div{
      text-align: center;
      grid-column: 1/10;
      grid-row:3/4;
      -webkit-transition : grid-row $trans-time;
      transition : grid-row $trans-time;
      transition : grid-row $trans-time, -ms-grid-row $trans-time;
      min-width: 350px;
      @include tablet{
        margin-top:150px;
      }
      h1{
        font-size: 290%;
        -webkit-transition: font-size $trans-time;
        transition: font-size $trans-time;
        color:$white;
        @include desktop{
          font-size: 250%;
        }
        @include tablet{
          font-size:200%;
        }
        @include phone{
          font-size: 180%;
        }

      }
      @include tablet{
        grid-row: 2/3;
      }
      @include phone{
        min-width: 0px;
      }
    }

    form{
      grid-column: 3/8;
      grid-row: 4/5;
      -webkit-transition : grid-row $trans-time;
      transition : grid-row $trans-time;
      transition : grid-row $trans-time, -ms-grid-row $trans-time;
      min-width: 615px;
      //padding:40px 50px;
      @include tablet{
        //grid-row: 3/4;
        grid-column: 1/10;
        width:100%;
        min-width: 200px;
        margin-top:100px;
        margin-bottom: 80px;
      }

      input{
        width:200px;
        height:60px;
        padding: 20px;
        margin-right:5px;
        //margin-left: 10px;
        background-color: rgba(0,0,0,0);
        border:1px solid $white;
        color:$white;
        border-radius: 3px;
        font-weight: 700;
        font-size: 90%;
        &::-webkit-input-placeholder{
          color: $light-white !important;
        }
        &:-moz-placeholder{
          color: $light-white !important;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          color: $light-white !important;
        }

        &:-ms-input-placeholder {
          color: $light-white !important;
        }
        &:focus{
          outline: 1px solid $yellow;
          border:0px;
        }
        @include tablet{
          width:100%;
          margin-right: 0px;
          margin-bottom: 5px;
        }
      }
      button{
        width:180px;
        height:60px;
        margin-left: 5px;
        text-align: center;
        background-color: $yellow;
        border: 0px;
        border-radius: 5px;
        font-weight: 700;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;

        &:hover{
          background-color: rgba(0,0,0,0);
          border: 1px solid $yellow;
          color:$yellow;
          cursor: pointer;
        }

        @include tablet{
          width:100%;
          margin-left:0px;
        }
      }
    }
  }
}

/*SERVICES SECTION*/
#services{
  background-color: $services-background;
  .container{
    padding: 60px 0;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows : repeat(2,minmax(0,250px));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items:center;
    @include tablet{
      grid-template-rows : repeat(2,minmax(0,300px));
      grid-template-columns: 1fr 1fr;
    }
    @include phone{
      display:block;
    }
    .service-desc{
      padding: 20px 0;
      text-align: center;
      h2{
        color:$white;
        font-weight:300;
        font-size:180%;
        line-height: 1.5;
        @include tablet{
          font-size: 150%;
        }
      }
      p{
        color:$light-white;
        font-weight:100;
        font-size: 80%;
        line-height: 2;
      }
    }
    #i-phone{
      grid-column: 2/3;
      grid-row: 2/3;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-transition: max-width $trans-time;
      transition: max-width $trans-time;
      @include desktop{
        img{
          max-width: 100%;
        }
      }
      @include tablet{
        display:none;
      }
    }
    #printer-services{
      grid-column: 1/2;
      grid-row: 1/2;
      h2:before{
        position: relative;
        top: 15px;
        content: url('img/printer.png')  "\00a0 \00a0";
      }
    }
    #mobile-services{
      grid-column: 3/4;
      grid-row: 1/2;
      h2:before{
        position: relative;
        top: 15px;
        content:url('img/mobile.png') "\00a0 \00a0";
      }
      @include tablet{
        grid-column: 2/3;
      }
    }

    #it-services{
      grid-column: 1/2;
      grid-row: 2/3;
      h2:before{
        position: relative;
        top: 15px;
        content:url('img/pc.png') "\00a0 \00a0";
      }
    }
    #printer1-services{
      grid-column: 3/4;
      grid-row: 2/3;
      h2:before{
        position: relative;
        top: 15px;
        content:url('img/printer1.png') "\00a0 \00a0";
      }
      @include tablet{
        grid-column: 2/3;
      }
    }
  }
}

/*TEAM SECTION*/
#team{
    background-color: $yellow;
    .container{
        width:90%;
        display:grid;
        -webkit-transition:display $trans-time;
        transition:display $trans-time;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr 2fr;
        grid-row-gap: 30px;
        -webkit-transition: width $trans-time;
        transition: width $trans-time;
        padding-top:100px;
        padding-bottom: 60px;
        @include tablet{
            display:block;
        }
        @include desktop{
            width:100%;
        }
        #team-heading{
          grid-row: 1/2;
          grid-column: 1/5;
          text-align: center;
          h1{
              font-size:280%;
              -webkit-transition:font-size $trans-time;
              transition:font-size $trans-time;
              @include phone{
                font-size: 240%;
              }
          }
          h3{
              margin-top: 10px;
              font-size:150%;
              font-weight: bolder;
          }
        }

        .team-desc{
          text-align: center;
          padding:15px 5px 5px 5px;

          img{
            width:150px;
            height:150px;
            position: relative;
            opacity: 0;
            filter: alpha(opacity=0);
            right:500px;
            -webkit-transform:rotate(180deg);
                    transform:rotate(180deg);
            -webkit-transition:all ease-in $trans-time+0.2;
            transition:all ease-in $trans-time+0.2;
          }
          @include tablet{
            width:60%;
            margin: auto;
          }

          .text{
              opacity: 0;
              filter: alpha(opacity=0);
              -webkit-transition:all ease-in $trans-time+0.4;
              transition:all ease-in $trans-time+0.4;
          }

          h2{
            font-weight: bolder;
            color:$black;
            -webkit-transition: font-size $trans-time;
            transition: font-size $trans-time;
            @include desktop{
              font-size: 120%;
            }
          }
          p{
            font-weight: 100;
            font-size: 90%;
          }
        }
        #team1{
          grid-row:2/3;
          grid-column: 1/2;
        }
        #team2{
          grid-row:2/3;
          grid-column: 2/3;
        }
        #team3{
          grid-row:2/3;
          grid-column: 3/4;
        }
        #team4{
          grid-row:2/3;
          grid-column: 4/5;
        }
    }
}

/*DOWNLOAD SECTION*/
#download{
    display:grid;
    grid-template-rows: 1fr 2fr;
    .container{
        width:50%;
        margin:0;
        padding:50px 80px 60px 80px;
        -webkit-transition: width $trans-time;
        transition: width $trans-time;
        @include desktop{
          padding:20px;
          width:40%;
        }
        @include tablet{
          text-align: center;
        }
        h1{
            font-size:150%;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        p{
            font-size: 80%;
            font-weight: 300;
            line-height: 2;
        }
        a{
          text-decoration: none;
          color:$white;
          background-color: $deep-blue;
          font-size: 80%;
          font-weight: bold;
          padding: 20px 40px;
          border-radius: 5px;
          -webkit-transition: background-color $trans-time;
          transition: background-color $trans-time;
          &:hover{
            background-color: rgba(0,0,0,0);
            border: 1px solid $deep-blue;
            color:$deep-blue;
            cursor: pointer;
          }
        }
        #last-p{
          margin-bottom:70px;
        }
    }

    .small-section{
        background-color: $light-yellow;
        .macbook{

          width:60%;
          position: absolute;
          right:0px;
          img{
            width:100%;
          }
          @include tablet{
            display:none;
          }
        }
        .container{
          -webkit-transition:width $trans-time;
          transition:width $trans-time;
            @include tablet{
              width:100%;
            }
        }
    }

    .big-section{
        background-color: $white;
        .container{
          -webkit-transition:width $trans-time;
          transition:width $trans-time;
            @media only screen and(max-width:980px){
              width:100%;
            }
        }
    }


}

/*APP WORKING SECTION*/
#work{
    background:  -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.3)),to(rgba(0,0,0,0.3))), url('img/main.png');
    background:  linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('img/main.png');
    background-attachment: fixed;
    background-size:200%;
    -webkit-transition: background-size $trans-time;
    transition: background-size $trans-time;
    @include desktop{
      background-size:cover;
    }
    background-repeat: no-repeat;
    background-position: top;
    color:$white;
    .container{
      width:90%;
      display:grid;
      -webkit-transition:display $trans-time;
      transition:display $trans-time;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: 1fr 2fr 1fr;
      grid-row-gap: 40px;
      -webkit-transition: width $trans-time;
      transition: width $trans-time;
      padding-top:100px;
      padding-bottom: 20px;

      @include tablet{
          display:block;
      }
      @include desktop{
          width:100%;
      }

      button{
        width:200px;
        height:60px;
        margin: auto;
        color:$black;
        font-size:90%;
        text-align: center;
        background-color: $yellow;
        border: 0px;
        border-radius: 2px;
        font-weight: 700;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
        grid-row: 3/4;
        grid-column: 1/5;
        &:hover{
          background-color: rgba(0,0,0,0);
          border: 1px solid $yellow;
          color:$yellow;
          cursor: pointer;
        }
        @include tablet{
          display: block;
          margin: 30px auto;
        }

      }
      #work-heading{
        grid-row: 1/2;
        grid-column: 1/5;
        text-align: center;
        h1{
            font-size:280%;
            -webkit-transition:font-size $trans-time;
            transition:font-size $trans-time;
            @include phone{
              font-size: 240%;
            }
        }
        h3{
            margin-top: 10px;
            font-size:150%;
            font-weight: bolder;
        }
      }


      .work-desc{
            text-align: center;
            padding:15px 5px 5px 5px;

            img{
              width:110px;
              height:100px;
            }
            @include tablet{
              width:60%;
              margin: auto;
            }
            h2{
              font-weight: bolder;
              color:$white;
              -webkit-transition: font-size $trans-time;
              transition: font-size $trans-time;
              @include desktop{
                font-size: 120%;
              }
            }
            p{
              font-weight: 100;
              font-size: 90%;
            }
      }
      #work1{
        grid-row:2/3;
        grid-column: 1/2;
      }
      #work2{
        grid-row:2/3;
        grid-column: 2/3;
      }
      #work3{
        grid-row:2/3;
        grid-column: 3/4;
      }
      #work4{
        grid-row:2/3;
        grid-column: 4/5;
      }
    }
}

/* FOOTER SECTION */
footer{
  background-color: $deep-blue;
  color:$white;
  display:grid;
  grid-template-rows: 0.7fr 0.3fr;
  grid-template-columns: repeat(4,1fr);
  padding-bottom: 80px;
  @include tablet{
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-columns: repeat(2,1fr);
  }
  text-align: center;
  .links{
    padding-top:100px;
    a{
      font-size: 80%;
      color:$white;
      text-decoration: none;
      &:hover{
        color:$yellow;
      }
    }
  }
  .credits{
    grid-column: 1/5;
    grid-row: 2/3;
    margin: auto;
    padding:100px 40px;
    @include tablet{
      grid-column: 1/3;
      grid-row:3/4;
      text-align: center;
      padding: 10px 20px;
      margin-top: 50px;
      margin-bottom: 10px;
    }
    p{
      font-size: 70%;
      font-weight: 100;
      a{
        text-decoration: none;
        color:$yellow;
        font-size: 100%;
      }
    }
  }
}
