/*@import "compass";
@import "partials/variables";
@import "partials/normalize";*/

$yellow : #FFE347;
$black: #000;
$white: #fff;
$default-font : 'Roboto', sans-serif;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size:20px;
  //font-family: 'Roboto Condensed', sans-serif;
  font-family: $default-font;
  text-rendering: optimizeLegibility;
}

.container{
    width:80%;
    margin:auto;
}

.light-font{
  font-weight: 100;
}

.bold-font{
  font-weight:500;
}

/*HEADER*/

header{
  width:100%;
  position: fixed;
  height:100px;
  text-transform: uppercase;
  border-top: 7px solid $yellow;
  .container{
    margin-top:50px;
  }
}

.logo{
  padding: 0;
  float:left;
  color:white;
  font-size:120%;
  p{
    font-size: 150%;
    font-weight: bold;
  }
  span{
    font-size: 60%;
    background-color:$yellow;
    border-radius: 2px;
    color:#000;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#main-nav{
  float:right;
  ul{
    list-style: none;
    li{
      display:inline-block;
    }
  }
}

.menu-item{
  font-weight:500;
  font-size:90%;
  color:white;
  text-decoration: none;
  padding: 10px 20px ;
  &:hover{
    color:$yellow;
  }
}

.active{
  background-color: $yellow;
  border-radius: 5px;
  color:$black;

  &:hover{
    color:black;
  }
}

/*MAIN SECTION*/

#main{

  //height:900px;
  background-image: url('img/main.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  .container{
    display:grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,150px);
    grid-gap: 2px;
    div{
      text-align: center;
      grid-column: 2/9;
      grid-row:3/4;
      h1{
        font-size: 300%;
        color:$white;
      }
    }
  }
}
