$yellow : #ffd800;
$light-yellow : #ffe347;
$black: rgba(0,0,0,0.96);
$white: #fff;
$light-white: rgba(255,255,255,0.7);
$transparent: rgba(0,0,0,0);
$deep-blue: #191b28;
$services-background:#191b28;

//$default-font : 'Roboto', sans-serif;
//$default-font : 'robotoblack';
//$default-font: 'robotobold';
$default-font : 'Roboto';
$trans-time : 0.5s;

$phone-width-max:480px;
$tablet-width-max:767px;
$desktop-width-max:1200px;
